{% extends "/authentication/authentication.twig" %}

{% block link %}
    <span class="text-sm">you don't have an account? <a href="/register" class="text-indigo-500">register</a></span>
{% endblock %}