{% extends "/authentication/authentication.html" %}

{% block federated %}
    <div style="width: fit-content;">
        <div id="g_id_onload"
            data-client_id="894412999915-3c66iahadah6106f0uqbbijlk2fpsbah.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="http://localhost:80/login/google"
            data-auto_prompt="false">
        </div>
        
        <div class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="outline"
            data-text="signin_with"
            data-size="medium"
            data-locale="en-US"
            data-logo_alignment="center">
        </div>
    </div>
{% endblock %}